
* {
	/*Google Fonts*/
	font-family: 'Open Sans', sans-serif;
}

.page {
	border: 1px solid black;
}

.success {
	margin: auto;
	width:  60%;
	padding: 10px;
}


.title {
	text-align: center;
}

.prefooter {	
	/*height: 50px;
	width: 50px;*/
	padding:  10px;
	color: white;
	/*background-color: darkblue;*/
	background-color: #002540;
	/*vertical-align: 10px;*/
}

/*ul {
	list-style: none;
	padding-left: 0;
}*/

.footer1 {
	display: inline-block;
	margin: auto;
	width: 20%;
	padding: 10px;
}

.footer2 {
	display: inline-block;
	margin: auto;
	width: 20%;
	padding: 10px;
}

.footer3 {
	display: inline-block;
	margin: auto;
	width: 20%;
	padding: 10px;
}

.footer4 {
	display: inline-block;
	margin: auto;
	width: 20%;
	padding: 10px;
}

div {
	text-align: left;
	padding: 1px;
}

h4 {
	display: inline;
	padding: 10px;
}